body{
	background-attachment: fixed;
	background-attachment: auto;
	padding-top:70px;
	color: blue;
}

.jumbotron{
	background-color: transparent;
}

.deleteNote {
	display: inline-block;
}

#scrape {
	margin: 8px 0px;
}